<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVFL60X32R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVFL60X32R');
</script>

  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>Steven C. Williams – CV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <header>
    <img src="logo.png" alt="Logo" class="header-logo" onclick="openModal()" />
    {{ header_content }}
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" />
      <label for="nav-trigger" class="menu-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </label>
      <div class="nav-menu">
        {{ nav_content }}
      </div>
    </nav>
  </header>

  <main>
    {{ main_content }}
  </main> 

  <div id="imageModal" class="modal" onclick="closeModal()">
    <img src="logo.png" class="modal-content" alt="Full Scale Logo">
  </div>

  <script>
    // Close the menu when a link is clicked
    document.querySelectorAll('.nav-menu a').forEach(link => {
      link.addEventListener('click', () => {
        document.getElementById('nav-trigger').checked = false;
      });
    });

    // Modal functions
    function openModal() {
      document.getElementById('imageModal').style.display = 'flex';
    }

    function closeModal() {
      document.getElementById('imageModal').style.display = 'none';
    }
  </script>
</body>
</html>
