<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVFL60X32R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVFL60X32R');
</script>

  <title>Steven C. Williams – CV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <header>
    {{ header_content }}
  </header>

  <main>
    {{ main_content }}
  </main> 
</body>
</html>
